@import "../parametres";

/* Parametres generaux */

@content-width: 65%;
@content-width-ipad: 100%;
@ratio-banniere: 466 / 1802;
@padding-content: 3.5em;

@ipad-max-width: 768px;
@footer-height: 2.5em;
@footer-height-grand: 10em;
@footer-ratio: 66 / 936;
