/* Import du theme de base */
@import "../base";
@import "parametres-large";

@viewport {
    width: device-width;
  }

/* Mixin pour tester le box model */
#bordure() {
	border: 1px solid red;
}

html {
	font-family: 'Open Sans Regular', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 1.3vw;
	line-height: 1.6;
	height: 100%
}

body {
	min-height: 100%;
	position: relative;
	padding: 0;
	margin: 0;
}

/* Corrige un bug d'affichage suz Safari */
#fond {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url(../../img/layout/fond.svg);
	background-repeat: repeat;
	background-position: 0px 0px;
	background-size: 20%;
}

#central {
	position: fixed;
	width: @content-width;
	height: 100%;
	left: unit((100 - @content-width) / 2,%);
	top: 0;
	background-color: white;
	z-index: 0;
/*	@media screen and (max-width: @ipad-max-width) {
		width: @content-width-ipad;
		left: unit((100 - @content-width-ipad) / 2,%);
	}*/
}

#navigation {
	position: relative;
	top: 0px;
}

#nav-principale {
	width: @content-width;
	position: absolute;
	top: 0px;
	left: unit((100 - @content-width) / 2,%);
	ul {
		list-style-type: none;
		position: absolute;
		width: 100%;
		z-index: 5;
		margin: 0;
		padding: 0;
		li {
			display: block;
			box-sizing: border-box;
			width: 25%;
			float: left;
			text-align: center;
			padding: 0.7vw;
			a {
				text-decoration: none;
				color: white;
				font-size: 110%;
				font-family: 'Open Sans Semibold';
			}
		}
	}
/*	@media screen and (max-width: @ipad-max-width) {
		width: @content-width-ipad;
		left: unit((100 - @content-width-ipad) / 2,%);
	}*/
}

#logo {
	position: absolute;
	top: 8px;
	height: unit(@content-width * @ratio-banniere * 0.78,vw);
	z-index: 5;
/*	@media screen and (max-width: @ipad-max-width) {
		height: unit(@content-width-ipad * @ratio-banniere * 0.78,vw);
	}*/
}

#navigation a:hover, #nav-flottante a:hover {
		font-family: 'Open Sans Bold';
}
#navigation a:active, #nav-flottante a:active {
		color: @orange;
}

#nav-principale-fond {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-bottom: unit(@ratio-banniere * 100,%);
	background-image: url(../../img/layout/banniere.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 2;
}

#nav-hover {
	width: 100%;
	height: 10vw;
	position: absolute;
	top: 3.7vw;
	z-index: 20;
}

main {
	margin: 0;
	width: @content-width;
	position: relative;
	left: unit((100 - @content-width) / 2,%);
	top: unit(@ratio-banniere * @content-width,vw);
	box-sizing: border-box;
	text-align: justify;
	padding-bottom: 8em;
	height: 100%;
	padding: 0;
/*	padding-top: 3.5vw;*/
	padding-left: @padding-content;
	padding-right: @padding-content;
	z-index: 1;
	p {
		font-size: 110%;
	}
	a {
		color: @bleu-principal;
		text-decoration: none;
		border-bottom: 1px solid @bleu-principal;
	}
	a:hover {
		color: @orange;
		border-bottom: 1px solid @orange;
	}
/*	@media screen and (max-width: @ipad-max-width) {
		width: @content-width-ipad;
		left: unit((100 - @content-width-ipad) / 2,%);
		top: unit(@ratio-banniere * @content-width-ipad,vw);
	}*/
}

#switchable {
	margin: 0;
	padding: 0;
}

/*#footer {
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	font-family: 'Open Sans Regular', sans-serif;
	padding-top: @footer-height;
	background-image: url(../../img/layout/footer.svg);
	background-size: contain;
	background-position: bottom left;
	background-repeat: no-repeat;
	width: unit(@content-width,vw);
	height: @footer-height;
	position: absolute;
	bottom: unit(-@ratio-banniere * @content-width - 7,vw);
	left: unit((100 - @content-width) / 2,%);
	display:block;
	margin-top: 0.5 * @footer-height;
}*/

#footer {
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	font-family: 'Open Sans Regular', sans-serif;
	padding-top: 3.7em;
	background-image: url(../../img/layout/footer_grand.svg);
	background-size: 100%;
	background-position: bottom left;
	background-repeat: no-repeat;
	width: unit(@content-width,vw);
	height: 6.5em;
	box-sizing: border-box;
	position: absolute;
	bottom: unit(-@ratio-banniere * @content-width - 12,vw);
	left: unit((100 - @content-width) / 2,%);
	display:block;
	margin-top: 0.5 * @footer-height-grand;
}

#nav-activites {
	width: @content-width;
	height: 3.5vw;
	position: relative;
	top: -3.5vw;
	left: unit((100 - @content-width) / 2,%);
	ul {
		background-color: @bleu-secondaire;
		list-style-type: none;
		position: absolute;
		width: 100%;
		z-index: 6;
		margin: 0;
		padding: 0;
		li {
			display: block;
			height: 3.5vw;
			box-sizing: border-box;
			width: 25%;
			float: left;
			text-align: center;
			padding: 0.6vw;
			a {
				text-decoration: none;
				color: white;
				font-size: 110%;
				font-family: 'Open Sans Semibold';
			}
		}
	}
/*	@media screen and (max-width: @ipad-max-width) {
		width: @content-width-ipad;
		left: unit((100 - @content-width-ipad) / 2,%);
	}*/
}

#nav-flottante {
	width: @content-width;
	height: 12.5vw;
	position: fixed;
	top: -12.5vw;
	left: unit((100 - @content-width) / 2,%);
	z-index: 7;
	padding: 0;
	margin: 0;
	transition: top 400ms;
/*	@media screen and (max-width: @ipad-max-width) {
		width: @content-width-ipad;
		left: unit((100 - @content-width-ipad) / 2,%);
	}*/
}

#flot-principale {
	width: 100%;
	height: 8.25vw;
	position: absolute;
	top: 3.5vw;
	background-image: url(../../img/layout/flottante_grand.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	left: 0px;
	padding: 0;
	margin: 0;
	ul {
		list-style-type: none;
		margin:0;
		padding:0;
		li {
			background-color: transparent;
			display: block;
			height: 3.5vw;
			box-sizing: border-box;
			width: 18%;
			float: right;
			text-align: center;
			padding: 0.6vw;
			a {
				text-decoration: none;
				color: white;
				font-family: 'Open Sans Semibold';
			}
		}
		#flot-accueil {
			margin-top: 1.55vw;
		}
		#flot-activites {
			margin-top: 1.1vw;
		}
		#flot-membres {
			margin-top: 0.65vw;
		}
		#flot-depannage {
			margin-top: 0.2vw;
		}
	}
}

#flot-nav-titre {
	height: 4.5vw;
	width: 27%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	font-family: 'Futura Regular';
	padding: 0.3vw;
	padding-left: 1vw;
	color: white;
	font-size: 180%;
	margin-top: 1.3vw;
}

#flot-activites {
	width: 100%;
	height: 3.5vw;
	position: relative;
	top: 0px;
	background-color: @bleu-secondaire;
	left: 0px;
	padding: O;
	margin: 0;
	ul {
		list-style-type: none;
		margin:0;
		padding:0;
		li {
			background-color: @bleu-secondaire;
			display: block;
			height: 3.5vw;
			box-sizing: border-box;
			width: 18%;
			float: right;
			text-align: center;
			padding: 0.6vw;
			a {
				text-decoration: none;
				color: white;
				font-family: 'Open Sans Semibold';
			}
		}
	}
}

#nav-flottante.flot-appeared {
	top: -3.5vw;
}

#nav-flottante.flot-appeared.flot-deployed {
	top: 0;
}

.orange {
	color: #DF8A2A;
}

.akbar {
	font-family: 'Akbar';
	color: @rouge;
}

.surligne {
	background-color: #FFF8A9;
}

.question {
	color: @bleu-principal;
	font-size: 160%;
	font-family: 'Patrick Hand';
	position: relative;
	left: 1em;
	margin-top: 1.3em;
	margin-bottom: 1.3em;
}

.handwritten {
	font-family: 'Patrick Hand';
	font-size: 115%;
}

/*.section-bleu {
	width: 100%;
	box-sizing: content-box;
	background-color: @bleu-secondaire;
	margin: 0;
	padding: 0;
	padding-left: @padding-content;
	padding-right: @padding-content;
	margin-top: 7em;
	margin-bottom: 8em;
	position: relative;
	left: -@padding-content;
	color: white;
	h2.sous-titre {
		font-family: 'Futura Regular';
		font-size: 170%;
		padding: 0;
		margin-bottom: 2em;
		text-align: center;
		#bordure;
	}
}*/

h2.sous-titre {
	font-family: 'Futura Regular';
	box-sizing: border-box;
	width: 100%;
	height: 5.3vw;
	margin: 0;
	padding: 0;
	font-size: 170%;
	text-align: center;
	display: block;
	background-image: url(../../img/layout/bande_secondaire.svg);
	background-size: 100%;
	background-position: top left;
	background-repeat: no-repeat;
	color: white;
	padding-top: 0.9vw;
	margin-top: 6vw;
	margin-bottom: 5vw;
	span {
		display:block;
		transform: rotate(-1deg);
	}
}

/*.section-bleu::before {
	content: "";
	box-sizing: content-box;
	display: block;
	padding-left: @padding-content;
	padding-right: @padding-content;
	position: relative;
	left: -@padding-content;
	top: -1.45em;
	background-image: url(../../img/layout/blue_section_haut.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	height: 1.5em;
	width: 100%;
	margin: 0;
	pading: 0;
}*/

/*.section-bleu::before {
	content: "";
	box-sizing: content-box;
	display: block;
	margin: 0;
	padding: 0;
	padding-left: @padding-content;
	padding-right: @padding-content;
	position: relative;
	left: -@padding-content;
	top: -3.5em;
	background-image: url(../../img/layout/blue_section_haut_grand.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	height: 3.5em;
	width: 100%;
}*/

/*.section-bleu::after {
	content: "";
	box-sizing: content-box;
	display: block;
	padding-left: @padding-content;
	padding-right: @padding-content;
	position: relative;
	left: -@padding-content;
	top: 1.45em;
	background-image: url(../../img/layout/blue_section_bas.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
	height: 1.5em;
	width: 100%;
	margin: 0;
	pading: 0;
}*/

/*.section-bleu::after {
	content: "";
	box-sizing: content-box;
	display: block;
	margin: 0;
	padding: 0;
	padding-left: @padding-content;
	padding-right: @padding-content;
	position: relative;
	left: -@padding-content;
	top: 4.9em;
	background-image: url(../../img/layout/blue_section_bas_grand.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
	height: 5em;
	width: 100%;
}*/

/*h2.sous-titre {
	font-family: 'Futura Regular';
	font-size: 170%;
	background-color: @bleu-secondaire;
	color: white;
	text-align: center;
	padding: 0.1em;
	margin-top: 2.5em;
	margin-bottom: 2em;
}*/

h1.titre {
	font-size: 210%;
	font-family: 'Futura Regular';
	padding: 0vw;
	padding-left: 1vw;
	margin-top: 3vw;
	margin-bottom: 4vw;
	position: relative;
	left: -1vw;
	top: -1vw;
	transform: rotate(-2deg);
	background-image: url(../../img/layout/bande_moyen.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-size: auto 100%;
	color: white;
}

img.float-right {
	width: 50%;
	float: right;
	margin-left: 1em;
}

img.float-left {
	width: 50%;
	float: left;
	margin-right: 1em;
}

img.full-size {
	width: 100%;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}

div.paragraphe {
	margin-bottom: 2em;
}

div.flushright {
	text-align: right;
}

h1.court {
	background-image: url(../../img/layout/bande_court.svg);
}

h1.mi-court {
	background-image: url(../../img/layout/bande_mi_court.svg);
}

h1.long {
	background-image: url(../../img/layout/bande_long.svg);
}
